av
dask
dataclasses==0.6
dataclasses-json==0.5.2
joblib
librosa
numpy==1.20.3
opencv-python
opencv_python_headless
tensorboard
tensorflow
tqdm
torch==1.8.1
torchvision==0.9.1
torchaudio==0.8.1
torchtyping==0.1.2
typeguard
typing-extensions==3.7.4.3
